WebSocket binary frames?

The WebSockets specification includes a mechanism for treating text and binary frames differently: see [section 5.2 of RFC 6455](https://tools.ietf.org/html/rfc6455#section-5.2) and the treatment of the "opcode" field in particular.

The only concrete difference between a binary frame and a text frame is a flag in the opcode field of the frame, though the specification demands that a text frame's payload must contain text encoded with UTF-8. In fact, the library we're using on macOS right now -- called "Perfect" -- effectively ignores the incoming binary/text flag in favor of returning the payload requested through its API.

We should decide what we want Scratch Link to do. IMO the two most obvious options are below, along with questions that arise if we make that choice:
1. Always send and expect text frames.
   * If a binary frame is received, should we treat it as a text frame, ignore it, or treat it as an error?
2. Attempt to match the client: send a text response to a text request and a binary response to a binary request.
   * What if the client switches between the two?
   * What if we send a request to the client -- that is, not a response to a request? Should we default to text, match the type of the most recent client request, or something else?

Right now this isn't a big deal because all our extensions always use text frames, but we should probably specify the intended behavior at least.